*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid rgb(255, 255, 255); */
    font-family: "Poiret One";
    scroll-behavior: smooth;
}
body{
    background-color: #1d1d1d;
    color: white;
    width: 100vw;
}

/* HEADER */

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
header{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header div{
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px 20px;
    justify-content: space-between;
}
nav{
    display: flex;
    gap: 15px;
}

/* HERO */

#hero{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    height: 100dvh;
    background-image: url(./images/food.jpg);
    align-items: center;
}
h1{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 5em;
    background-color: black;
    border-radius: 15px;
    
    padding: 20px;
}

/* MENU */

#menu{
    display: grid;
    grid-template-columns: 10% repeat(4,1fr) 10%;
    grid-template-rows: 300px 200px repeat(10,200px);
    text-align: center;
}
#titulo-menu{
    font-size: 52px;
    grid-row: 2/3;
    grid-column: 2/6;
}
#contenedor{
    grid-column: 2/6;
    grid-row: 3/8;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}
.plato{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.514);
    border-radius: 5px;
}
.plato:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px white;
}
.titulo{
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}
.descripcion{
    padding: 10px 5px;
}