*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid rgb(255, 255, 255); */
    font-family: "Poiret One";
    scroll-behavior: smooth;
}
body{
    background-color: #1d1d1d;
    color: white;
    width: 100vw;
}

/* HEADER */

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
header{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
}
header div{
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px 20px;
    justify-content: space-between;
}
nav{
    display: flex;
    gap: 15px;
}

/* HERO */

#hero{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    height: 100dvh;
    background-image: url(./images/food.jpg);
    align-items: center;
}
h1{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 5em;
    background-color: black;
    border-radius: 15px;
    
    padding: 20px;
}

/* MENU */

#menu{
    display: grid;
    grid-template-columns: 10% repeat(4,1fr) 10%;
    grid-template-rows: 300px 200px repeat(10,200px);
    text-align: center;
}
#titulo-menu{
    font-size: 52px;
    grid-row: 2/3;
    grid-column: 2/6;
}
#contenedor-platos{
    grid-column: 2/6;
    grid-row: 3/8;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}
.plato{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.514);
    border-radius: 5px;
}
.plato:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px white;
}
.titulo{
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}
.descripcion{
    padding: 10px 5px;
}

/* GALERIA */

#galeria{
    display: grid;
    grid-template-columns: 1fr repeat(20, 100px) 1fr;
    grid-template-rows: 200px repeat(17, 100px) 100px;
    background-color: black;
    text-align: center;
}
#titulo-galeria{
    font-size: 52px;
    grid-column: 5/16;
    grid-row: 1/2;
    align-self: center;
}
#galeria img{
    width: 100%;
    border-radius: 10px;
}
#galeria img:hover{
    transform: scale(1.3);
    z-index: 1;
}
#camara{
    grid-column: 9/11;
    grid-row: 2/4;
    transform: rotate(3deg);
}
#foto1{
    grid-column: 4/8;
    grid-row: 3/5;
    transform: rotate(-3deg);
}
#foto2{
    grid-column: 12/17;
    grid-row: 2/4;
    transform: rotate(-1deg);
}
#foto3{
    grid-column: 9/14;
    grid-row: 5/8;
    transform: rotate(5deg);
}
#foto4{
    grid-column: 3/7;
    grid-row: 6/8;
    transform: rotate(-2deg);
}
#foto5{
    grid-column: 14/17;
    grid-row: 7/9;
    transform: rotate(-7deg);
}
#foto6{
    grid-column: 5/10;
    grid-row: 9/12;
    transform: rotate(-6deg);
}
#foto7{
    grid-column: 12/16;
    grid-row: 10/13;
    transform: rotate(6deg);
}
#like{
    grid-column: 10/12;
    grid-row: 9/11;
    transform: rotate(6deg);
}
#foto8{
    grid-column: 7/14;
    grid-row: 13/16;
    transform: rotate(0deg);
}